body {
  font-family: 'MBei HK Bold';
  /* background-color: #354013; */
  background-color: #e0e2da;
}
nav {
  padding: 3px 0px !important;
}

h3 {
  padding: 0.5rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 0.5rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d4824;
}

/* a{
  color: #46541b !important;
}
a:hover{
  color: #2a2e1d !important;
} */

.upload-container {
  border: 2px dashed #ccc;
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.upload-container:hover {
  border-color: #007bff;
}

.upload-text {
  font-size: 16px;
  color: #666;
}

.d-none {
  display: none;
}

.form-label {
  font-weight: 500;
}

table {
  word-wrap: break-word;
  table-layout: fixed; /* Ensures cells have consistent widths */
}

table th,
table td {
  white-space: normal; /* Allows wrapping */
  overflow-wrap: break-word; /* Breaks long words */
  text-align: left; /* Aligns text to the left */
  vertical-align: middle; /* Centers text vertically */
}

.preview-box {
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f8f9fa;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
}

.preview-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.preview-placeholder {
  color: #6c757d;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  position: absolute;
}

.nav-link.disabled {
  cursor: not-allowed;
  opacity: 0.5; /* Makes it visually clear that the button is disabled */
  pointer-events: none; /* Prevents any interaction */
}

::-webkit-scrollbar-thumb:hover {
  background: #097969; /* Darker green when hovered */
}

::-webkit-scrollbar {
  width: 2px; /* Set width to 2px */
  height: 2px; /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark background for track */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #355e3b; /* Green thumb */
  border-radius: 5px;
}

/* Ensure content area has overflow */
.scrollable-content {
  overflow-y: scroll; /* Enable vertical scroll */
  max-height: 300px; /* Adjust as needed to trigger the scrollbar */
}

div::-webkit-scrollbar {
  width: 2px;
}

.new_button {
  padding: 5px 20px;
}

.nav-active {
  font-size: 19px;
  font-weight: bold;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
